Software/Node-RED/Securitysystem_flow.json
[{"id":"4e6f1728.976ec8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"321c898f.efc8d6","type":"inject","z":"4e6f1728.976ec8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test","payloadType":"str","x":190,"y":320,"wires":[["acb10189.f0af8","1859d18e.2de0be"]]},{"id":"acb10189.f0af8","type":"debug","z":"4e6f1728.976ec8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"2d353b68.04c2f4","type":"e-mail","z":"4e6f1728.976ec8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Email-Push","x":650,"y":200,"wires":[]},{"id":"f3cf98e4.a3f5e8","type":"mqtt in","z":"4e6f1728.976ec8","name":"","topic":"MFHLSensor","qos":"2","datatype":"auto","broker":"3bb15dda.10bd32","nl":false,"rap":true,"rh":0,"x":190,"y":240,"wires":[["1859d18e.2de0be"]]},{"id":"1859d18e.2de0be","type":"function","z":"4e6f1728.976ec8","name":"Format Notification","func":"msg.topic = \"Security System Noticed Intrusion\";\nmsg.payload.Time = (new Date()).toISOString();\nvar newMsg = {payload: msg.payload + \" \" \n+ new Date() + \" \", topic: msg.topic};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["2d353b68.04c2f4","fc0ad02f.3dce4"]]},{"id":"fc0ad02f.3dce4","type":"discordMessageManager","z":"4e6f1728.976ec8","name":"","channel":"","token":"","x":690,"y":260,"wires":[]},{"id":"3bb15dda.10bd32","type":"mqtt-broker","name":"","broker":"mqtt.iot.informatik.uni-oldenburg.de","port":"2883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]